{"globalcfg":{"policy":"roundrobin","jmsg_path":"/home/macaronn/projD/s-wall/jlog/jmsg"},"apps":{"jlogger":{"app_pri":5,"msg_limit":20000,"report":"tx2server1.script","store_interval":1,"instant_pri":1,"report_interval":5},"hostapd":{"app_pri":1,"msg_limit":40000,"report":"tx2server2.scr","store_interval":1,"instant_pri":1,"report_interval":4},"default":{"app_pri":1,"msg_limit":10000,"report":"tx2server.script","store_interval":1,"instant_pri":6,"report_interval":2}}}
